body {
  background-color: #cecef6;
}
h1 {
  color: black;
  background-color: #8258fa;
  font-family: Verdana;
  padding: 25px;
  margin: -8px;
}
p {
  color: black;
  font-family: Helvetica;
}
h4 {
  color: grey;
  background-color: #be81f7;
  padding: 25px;
  margin: -8px;
  text-align: center;
}
a:link {
  color: black;
  font-family: Helvetica;
  text-decoration: none;
}
a:hover {
  color: lightgray;
  font-family: Helvetica;
  text-decoration: none;
}
a:visited {
  color: lightgray;
  font-family: Helvetica;
  text-decoration: none;
}
#bottom {
  position: center;
  bottom: 0;
  left: 0;
}
a:active {
  color: white;
  font-family: Helvetica;
}
