#bottom {
  position: fixed;
  bottom: 0;
  right: 0;
  color: black;
  background-color: #be81f7;
  padding: 25px;
  margin: -8px;
  text-align: center;
}
body {
  background-color: #cecef6;
}
head {background-color: #8258fa;}
h1 {
  color: black;
  background-color: #8258fa;
  font-family: Helvetica;
  padding: 25px;
  margin: -8px;
}
p {
  color: black;
  font-family: Helvetica;
}
a:link {
  color: violet;
  font-family: Helvetica;
  text-decoration: none;
}
a:hover {
  color: blue;
  font-family: Helvetica;
}
a:visited {
  color: violet;
  font-family: Helvetica;
  text-decoration: none;
}
a:active {
  color: purple;
  font-family: Helvetica;
}
button {
  border-radius: 20px;
  color: white;
  background-color: blue;
  display: inline-block;
  border: none;
  padding: 15px 25px;
}
iframe {
  border: none;
  width: auto;
  color: #cecef6;
}
q {
  color: black;
}
