body {
  background-color: #CECEF6;
  }
h1   {
  color: black;
  background-color: #8258FA;
  font-family: Verdana;
  padding: 25px;
  margin: -8px;
  }
p    {
  color: black;
  font-family: Helvetica
  }
  h4 {
    color: grey;
    background-color: #BE81F7;
    padding: 25px;
    margin: -8px;
  }
a:link {
  color: white;
  font-family: Helvetica;
}
