html,
body,
#entrypoint {
  height: 100%;
}

body {
  font-family: "Roboto", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  color: white;
  background-color: black;
}

a {
  color: white;
  text-decoration: none;
  font-weight: bold;
} 
a:hover {
  cursor: pointer;
}
.table {
  td {
    padding: 0.25em 0.5em;
    width: 240px;
  }
  
  th {
    width: 240px;
  }

  tr:nth-child(even) {
    background-color: #0d0d0d;
  }

  display: block;
  overflow-x: wrap;
  white-space: nowrap;
}

.verticalcenter {
  vertical-align: middle;
}

.actions {
  display: flex;
  flex-wrap: wrap;
  gap: 0.25em 1em;
}

.pfp {
  width: 45px;
  height: 45px;
}
.scrolling {
  overflow-x: auto
}
.form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2em;

  .form-item {
    display: flex;
    flex-direction: column;
    align-content: center;
    
    input {
      border-radius: 0.5em;
      padding: 0.5em;
      height: 3em;
      background-color: #9000e3;
      color: white;
      overflow-x: scroll;
      width: 100%;
    }
    
    button {
      border-radius: 0.5em;
      padding: 0.5em;
      height: 3em;
      background-color: #9000e3;
      color: white;
      overflow-x: auto;
    }
  }
}
